

      <p>
        <b>packing_slip_no:</b><br>
        <%=editablefieldcreate("packing_slip_no", @shipping)%>
      </p>



      <p>
        <b>date_shipped:</b><br>
        <%=editablefieldcreate("date_shipped", @shipping)%>
      </p>



      <p>
        <b>shipped_via:</b><br>
        <%=editablefieldcreate("shipped_via", @shipping)%>
      </p>



      <p>
        <b>weight:</b><br>
        <%=editablefieldcreate("weight", @shipping)%>
      </p>



      <p>
        <b>cost:</b><br>
        <%=editablefieldcreate("cost", @shipping)%>
      </p>


      