<p id="notice"><%= notice %></p>

<p>
  <b>Packing slip no:</b>
  <%= @shipping.packing_slip_no %>
</p>

<p>
  <b>Date shipped:</b>
  <%= @shipping.date_shipped %>
</p>

<p>
  <b>Shipped via:</b>
  <%= @shipping.shipped_via %>
</p>

<p>
  <b>Weight:</b>
  <%= @shipping.weight %>
</p>

<p>
  <b>Cost:</b>
  <%= @shipping.cost %>
</p>


<%= link_to 'Edit', edit_shipping_path(@shipping) %> |
<%= link_to 'Back', shippings_path %>