<div class="myaccountblock">
  <div align="center">
    <!-- START:flash -->
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <!-- END:flash -->
  </div>

  <div id="site-pref-list">
    <h1  class="myaccountheader">Inventory</h1>

    <center><%= link_to 'New Inventory', :action=>:create_empty_record,:typeofrecord=>"inventory" %></center>

    <%  @inventories.each do |inventory| %>
      <div class="hr"></div>
      <table width ="100%"cellpadding="5" cellspacing="0">
        <tr class="list-table" valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>"  onclick = "window.location.href ='<%=url_for(:controller => 'inventories', :id => inventory.id,  :action => 'edit')%>' "  style = "cursor:pointer" >
                      <td align="left">
    <span class="list-title"><%= inventory.product_id %></span>
          </td>
                   <td align="left">
    <span class="list-title"><%= inventory.lot_no %></span>
          </td>
                   <td align="left">
    <span class="list-title"><%= inventory.expiration_date %></span>
          </td>
                   <td align="left">
    <span class="list-title"><%= inventory.quantity_on_hand %></span>
          </td>
          
        </tr>
      </table>
      <div align="right" class="image-delete-list" >
        <%=link_to image_tag ("Button-Delete.png", :border=>"0") , inventory,:on_click=>"", :confirm => 'Are you sure?', :method => :delete %>
      </div>
    <% end %>
    <div class="hr"></div>

  </div>
    <center><%= link_to 'New Inventory', :action=>:create_empty_record,:typeofrecord=>"inventory" %></center>
</div>
