<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @inventory.product_id %>
</p>

<p>
  <b>Lot no:</b>
  <%= @inventory.lot_no %>
</p>

<p>
  <b>Expiration date:</b>
  <%= @inventory.expiration_date %>
</p>

<p>
  <b>Quantity on hand:</b>
  <%= @inventory.quantity_on_hand %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>