<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @customer.user_id %>
</p>

<p>
  <b>Company name:</b>
  <%= @customer.company_name %>
</p>

<p>
  <b>Billing street address:</b>
  <%= @customer.billing_street_address %>
</p>

<p>
  <b>Billing city:</b>
  <%= @customer.billing_city %>
</p>

<p>
  <b>Billing state:</b>
  <%= @customer.billing_state %>
</p>

<p>
  <b>Billing zip code:</b>
  <%= @customer.billing_zip_code %>
</p>

<p>
  <b>Shipping street address:</b>
  <%= @customer.shipping_street_address %>
</p>

<p>
  <b>Shipping city:</b>
  <%= @customer.shipping_city %>
</p>

<p>
  <b>Shipping state:</b>
  <%= @customer.shipping_state %>
</p>

<p>
  <b>Shipping zip code:</b>
  <%= @customer.shipping_zip_code %>
</p>

<p>
  <b>Phone number:</b>
  <%= @customer.phone_number %>
</p>

<p>
  <b>Fax number:</b>
  <%= @customer.fax_number %>
</p>

<p>
  <b>Email address:</b>
  <%= @customer.email_address %>
</p>

<p>
  <b>Contact name:</b>
  <%= @customer.contact_name %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>