<div class="myaccountblock" Align="Left">
    <div align="center">
    <!-- START:flash -->
    <% if notice -%>
      <div id="notice"><%= notice  %></div>
    <% end -%>
    <!-- END:flash -->
    
   <% if @pricing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pricing.errors.count, "error") %> prohibited this pricing from being saved:</h2>

      <ul>
      <% @pricing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>

  <div class="myaccountheader">New Pricing</div>
  <div class="myaccountsection">
    <div class="myaccountheading">Information for pricing</div>
    <div class="myaccountcontent">

      <%= render 'form' %>

         </div>
    </p>
  </div>
  
<%= link_to 'Show', @pricing %> |
<%= link_to 'Back', pricings_path %>
   

</div>
