<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @vendor.company_name %>
</p>

<p>
  <b>Billing street address:</b>
  <%= @vendor.billing_street_address %>
</p>

<p>
  <b>Billing city:</b>
  <%= @vendor.billing_city %>
</p>

<p>
  <b>Billing state:</b>
  <%= @vendor.billing_state %>
</p>

<p>
  <b>Billing zip code:</b>
  <%= @vendor.billing_zip_code %>
</p>

<p>
  <b>Shipping street address:</b>
  <%= @vendor.shipping_street_address %>
</p>

<p>
  <b>Shipping city:</b>
  <%= @vendor.shipping_city %>
</p>

<p>
  <b>Shipping state:</b>
  <%= @vendor.shipping_state %>
</p>

<p>
  <b>Shipping zip code:</b>
  <%= @vendor.shipping_zip_code %>
</p>

<p>
  <b>Phone number:</b>
  <%= @vendor.phone_number %>
</p>

<p>
  <b>Fax number:</b>
  <%= @vendor.fax_number %>
</p>

<p>
  <b>Email address:</b>
  <%= @vendor.email_address %>
</p>

<p>
  <b>Contact name:</b>
  <%= @vendor.contact_name %>
</p>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>