

      <p>
        <b>order_id:</b><br>
        <%=editablefieldcreate("order_id", @order_item)%>
      </p>



      <p>
        <b>product_id:</b><br>
        <%=editablefieldcreate("product_id", @order_item)%>
      </p>



      <p>
        <b>inventory_id:</b><br>
        <%=editablefieldcreate("inventory_id", @order_item)%>
      </p>



      <p>
        <b>price:</b><br>
        <%=editablefieldcreate("price", @order_item)%>
      </p>



      <p>
        <b>quantity:</b><br>
        <%=editablefieldcreate("quantity", @order_item)%>
      </p>



      <p>
        <b>shipped:</b><br>
        <%=editablefieldcreate("shipped", @order_item)%>
      </p>



      <p>
        <b>shipped_date:</b><br>
        <%=editablefieldcreate("shipped_date", @order_item)%>
      </p>


      