

      <p>
        <b>vender_id:<%= link_to ('(select vendor)',{ :action=>:vendor_list, :controller=>:vendors, :typeofrecord=>"vendor",  :request_type=>"window"}, :id=>"selectvendor", :remote => true  )%>
</b>
        <br>
      <div id="field_vendor_id" class="myaccountcontentitem"><%=@vendor.company_name rescue "Not Selectd"%></div>
        

      </p>



      <p>
        <b>name:</b><br>
        <%=editablefieldcreate(:name, @product)%>
      </p>



      <p>
        <b>description:</b><br>
        <%=editablefieldcreate(:description, @product)%>
      </p>



      <p>
        <b>ndc_no:</b><br>
        <%=editablefieldcreate(:ndc_no, @product)%>
      </p>



      <p>
        <b>item_no:</b><br>
        <%=editablefieldcreate(:item_no, @product)%>
    </p>


      <p>
  <br>
  
</p>