
<div id="inventory-list">
  <table cellpadding="0" cellspacing="0" border="0" class="display" id="example">
    <thead>
      <tr>
        <th>Lot number</th>
        <th>Expiration Date</th>
        <th>Quantity</th>
         <th>-</th>

      </tr>
    </thead>
    <tbody>
      <%  @inventory.each do |inventory| %>
        <tr class="<%= cycle('odd gradeA', 'even gradeA')%>"  style = "cursor:pointer">
          <td> <%=editablefieldcreate(:lot_no, inventory, :class=>"inventory-list")%></td>
          <td> <%=editablefieldcreate(:expiration_date, inventory, :class=>"inventory-list")%></td>
          <td> <%=editablefieldcreate(:quantity_on_hand, inventory, :class=>"inventory-list")%></td>
           <td width="5"> <%=link_to image_tag('delete.png', :border=>"0"),{ :action=>:destroy, :controller=>:inventories, :id=>inventory.id},{  :on_click=>" $j('#loader_progress').show();", 'confirm' => 'Are you sure?', 'method' => :delete , :id=>"deleteinventoryitem", :remote=>true} %>
         </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th>Lot number</th>
        <th>Expiration Date</th>
        <th>Quantity</th>
                 <th>-</th>

      </tr>
    </tfoot>
  </table>
</div>

      <%= render 'modal_inventory' %>
