<!DOCTYPE html>
<html>
  <head>
    <title>E & L Heating and Cooling LLC: <%=get_page_title%>
    </title>
<%#= stylesheet_link_tag :all %>
<%#= javascript_include_tag :defaults %>
<%#= csrf_meta_tag %>
<%#= stylesheet_link_tag "index.css"   %>
    <%=controller_stylesheet_link_tag %>
    <%= stylesheet_link_tag "pro_drop_1.css" %>
    <%= stylesheet_link_tag "elcooling.css"   %>

<%#= javascript_include_tag :defaults %>
<%#= javascript_include_tag "prototype.js", "effects.js", "dragdrop.js", "controls.js", "rails.js", "widgets/tooltip.js"%>


    <%=csrf_meta_tag %>
    <%=javascript_include_tag 'jquery.js', 'jquery-ui.js','jquery_ujs.js', 'jquery.dataTables.js', 'jquery.purr.js', 'jquery.caret.js'%>

<%#=javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "rails.js", "application.js" %>
<%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "rails.js" %>
<%#=javascript_include_tag "fg.menu.js"%>


    <script type="text/javascript">
      // this allows jquery to be called along with scriptaculous and YUI without any conflicts
      // the only difference is all jquery functions should be called with $j instead of $
      // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
      var $j = jQuery.noConflict();
    </script>
    <%=javascript_include_tag 'best_in_place'%>

    <%= javascript_include_tag "prototype.js", "effects.js", "dragdrop.js", "controls.js", "widgets/tooltip.js"%>

    <%= controller_javascript_include_tag  %>

    <%= javascript_include_tiny_mce_if_used %>
    <%= tiny_mce if using_tiny_mce? %>
    <%= javascript_include_tag "application.js"%>
    <%=  javascript_include_tag "stylizefilebutton.js"%>

<%#= calendar_date_select_includes "red"%>

<%#= javascript_include_tag "stuHover.js"  %>


    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    <style type="text/css" title="text/css">

      .solidhex-stylized div.file {
        background: url('/images/browse.png') no-repeat 0 0;
        width: 16px;
        height: 16px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
      }

      .solidhex-stylized div.file input {
        opacity: 0;
        -moz-opacity: 0;
        filter:alpha(opacity=0);
        height: 100%;
        width: auto;
        display: block;
        cursor: pointer;
        position: relative;
      }
    </style>



  </head>
  <body>
    <div id="sites-chrome-everything-scrollbar">
      <div id="sites-chrome-everything">
        <div id="sites-chrome-page-wrapper" style="direction: ltr">
          <div id="sites-chrome-page-wrapper-inside">
            <div xmlns="http://www.w3.org/1999/xhtml" id="sites-chrome-header-wrapper">
              <table id="sites-chrome-header" class="sites-layout-hbox-centered" cellspacing="0">
                <tbody><tr class="sites-header-primary-row">
                    <td id="sites-header-title">
                      <div class="sites-header-cell-buffer-wrapper">
                        <a href="http://www.elcooling.com/">
                          <%= image_tag("customLogo.gif", :id=>"logo-img-id",  :alt=>"Logo",  :class=>"sites-logo")%> 
                        </a>
                        <h2>
                          <a href="http://www.elcooling.com/" dir="ltr">E &amp; L Heating and Cooling, LLC</a>
                        </h2>
                        <div class="sites-layout-searchbox">
                          <div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="sites-header-secondary-row">
                    <td colspan="2">
                    </td>
                  </tr>
                </tbody></table> 
            </div> 
            <div id="sites-chrome-main-wrapper">
              <div id="sites-chrome-main-wrapper-inside">
                <table id="sites-chrome-main" class="sites-layout-hbox" cellspacing="0">
                  <tbody><tr>
                      <td id="sites-chrome-sidebar-left" class="sites-layout-sidebar-left">
                        <div xmlns="http://www.w3.org/1999/xhtml" id="COMP_2bd" class="sites-embed">
                          <div class="sites-embed-content sites-sidebar-nav ">
                            <ul jotid="navList">
                              <%= buildverticlemenu  :menu_id=>"Left Menu",:class=>"sites-navigation-link", :prehtml=>'<li class=""><div dir="ltr" style="padding-left: 5px;">', :posthtml=>' </div></li>', :current_menu=>get_page_title%>
                            </ul>
                          </div>
                        </div>
                        <%=  buildverticlemenu :menu_id=>"Information Menu", :prehtml=>"<div class='sites-embed'>" , :posthtml=>"</div>" %>
                      </td>
                      <td id="sites-canvas-wrapper">
                        <div id="sites-canvas">
                          <div id="div-admin-menu">
                            <%=hidden_div_if((not session[:user_id] or not session[:mainnav_status]), :id=>"mainnav") %>
                            <%= tabnav :main %>
                            <%="</div>".html_safe%>


                          </div>

                          <%=  yield %>

                        </div> 
                      </td> 
                    </tr>
                  </tbody></table> 
              </div> 
            </div> 
            <div id="sites-chrome-footer-wrapper">
              <div id="sites-chrome-footer-wrapper-inside">
                <div id="sites-chrome-footer">
                </div>
              </div>
            </div>
          </div> 
        </div> 
        <div xmlns="http://www.w3.org/1999/xhtml" class="sites-adminfooter">
          <p>

            <% if session[:user_id] then %>
              <%= link_to 'Sign Out',{ :controller => :admin, :action =>'logout'},:class=>"sites-system-link" %> &nbsp;|&nbsp;
              <%= link_to 'My Account',{ :controller => :admin, :action =>'index'},:class=>"sites-system-link" %> 
            <% else %>
              <%= link_to 'Sign In', {:controller=>'admin'},:class=>"navmenu3" %> 
            <%  end %>

            &nbsp;|&nbsp;

            <%=buildhorizontalmenu :menu_id=>"Bottom Menu", :class=>"sites-system-link"%>

            &nbsp;|&nbsp;

            <b class="powered-by">Powered by <a href="http://littleconsultingnj.com/mycms/">myCMS</a></b>
          </p>

        </div>
      </div> 
    </div>
    <div style="clear:both;">
    </div>
    <div id="page-bottom"> <center> site design by little consulting inc.</center> </div>

  </body>
</html>
