<!DOCTYPE html>
<html>
  <head>
    <title>Bahrs Real Estate LLC: <%=get_page_title%>
    </title>

    <%= controller_stylesheet_link_tag %>
    <%= stylesheet_link_tag "pro_drop_1.css" %>
    <%= stylesheet_link_tag "rms.css"   %>

    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'jquery.js', 'jquery-ui.js','jquery_ujs.js', 'jquery.dataTables.js', 'jquery.purr.js', 'jquery.caret.js', 'jquery.cycle.js'%>

    <script type="text/javascript">
      // this allows jquery to be called along with scriptaculous and YUI without any conflicts
      // the only difference is all jquery functions should be called with $j instead of $
      // e.g. $j('#div_id').stuff instead of $('#div_id').stuff
      var $j = jQuery.noConflict();
    </script>
    <%= javascript_include_tag 'best_in_place'%>

    <%= javascript_include_tag "prototype.js", "effects.js", "dragdrop.js", "controls.js", "widgets/tooltip.js"%>

    <%= controller_javascript_include_tag  %>

    <%= javascript_include_tiny_mce_if_used %>
    <%= tiny_mce if using_tiny_mce? %>

    <%= javascript_include_tag "application.js"%>
    <%= javascript_include_tag "stylizefilebutton.js"%>


    <link rel="stylesheet" href="/stylesheets/index.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

    <style type="text/css" title="text/css">

      .solidhex-stylized div.file {
        background: url('/images/browse.png') no-repeat 0 0;
        width: 16px;
        height: 16px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
      }

      .solidhex-stylized div.file input {
        opacity: 0;
        -moz-opacity: 0;
        filter:alpha(opacity=0);
        height: 100%;
        width: auto;
        display: block;
        cursor: pointer;
        position: relative;
      }
    </style>



  </head>
  <body>
    <div id="page">
      <div id="page-top">
        <div id="page-top-logo">
          <%= image_tag "BahrsLogo.gif" %> 
        </div>
        <div id="page-top-logo-right">
          <%= image_tag "Bahrs-Layoutv5_02.gif" %>

          <div id="top-nav-bar">
            <ul id="top-nav">
              
            <%=buildhorizontalmenu :current_page=>get_page_name,:menu_id=>"Top Menu", :prehtml=>"<li class=''>",:posthtml=>"</li>", :class=>"", :breaker=>"", :selected_class=>"<li class='top-nav-selected'>"%>
    
            </ul>
          </div>
        </div>
      </div>

      <div id="page-top-curve">
        <%= image_tag "Bahrs-Layoutv5_08.gif", :id=>"top-curve-image"%>
      </div>

      <div id="page-top-title">
        <%= image_tag "Bahrs-Layoutv5_09.gif", :id=>"top-curve-image2"%>
        <div id="page-title">
                                  
          <%=get_page_title%>
        </div>
      </div>
      <div id="page-middle">

        <div id="page-middle-right">
          <ul id="left-nav">
            <%= buildverticlesubmenu(:prehtml=>"<li>", :posthtml=>"</li>",  :selected_class=>"<li class='left-nav-selected'>",:article_name=>get_page_name) %>
          </ul>
          <div id="left-nav-bottom">
            <%=  image_tag ("bottom_curve.gif")  %>
            <div id="company-info-block">
              <center>
              <%#=  image_tag ("Company-Name-Bkgnd.gif")  %>
              Broker of Record
              </center>
              <%=  image_tag ("Craig.jpg"),:class=>"pic-center"  %>
              <center>Craig Bahrs</center>
                <p class="fontsize12"><strong><em>Bahrs
                      Real Estate LLC <br>
                      426 Highway 36, Suite 1 <br>
                      Highlands, NJ 07732</em></strong></p>
                <center><span class="fontsize14 style9"><strong><em>(732)927-4443</em></strong></span><br>
                
              </center>
          </div>

        </div>

       

      </div>
  <div id="content">
      <div id="div-admin-menu">
                            <%=hidden_div_if((not session[:user_id] or not session[:mainnav_status]), :id=>"mainnav") %>
                            <%= tabnav :main %>
                            <%="</div>".html_safe%>


                          </div>
                                    <%=  yield %>

        </div>
    </div>
    <div style="clear:both;">
      <center>
       <p>

            <% if session[:user_id] then %>
              <%= link_to 'Sign Out',{ :controller => :admin, :action =>'logout'},:class=>"sites-system-link" %> &nbsp;|&nbsp;
              <%= link_to 'My Account',{ :controller => :admin, :action =>'index'},:class=>"sites-system-link" %> 
            <% else %>
              <%= link_to 'Sign In', {:controller=>'admin'},:class=>"navmenu3" %> 
            <%  end %>

            &nbsp;|&nbsp;

            <%=buildhorizontalmenu :menu_id=>"Bottom Menu", :class=>"sites-system-link"%>

            &nbsp;|&nbsp;

            <b class="powered-by">Powered by <a href="http://littleconsultingnj.com/mycms/">myCMS</a></b>
          </p>
      </center>
    </div>

    <div id="page-bottom"> <center> site design by little consulting inc.</center> </div>

  </body>
</html>
